<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyPortfolio</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- <link href="style.css" rel="stylesheet" > -->
    <!-- <link rel="stylesheet" type="text/css"  href="/style.css"> -->
    <link rel="stylesheet" type="text/css" href="/style.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

</head>
<body>

  <style>
    body{
      background-image:url(/milad-fakurian-F93PQmh4krI-unsplash.jpg);
     } 
  </style>
   
    <div class="container pb-5">


                  <nav class="navbar navbar-expand-lg navbar-light fixed-top pb-5">
                            <div class="container-fluid pb-5">
                            
                                 <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                     <span class="navbar-toggler-icon"></span>
                                  </button>
                              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                              
                                
                                <ul class="navbar-nav ml-auto">
                                      <li class="nav-item">
                                           <a class="nav-link  " aria-current="page" href="#" style="color: rgba(255, 255, 255, 0.753)" >HOME</a>
                                      </li>
                                      <li class="nav-item">
                                           <a class="nav-link " href="#"  id="aboutMeNav" style="color: rgba(255, 255, 255, 0.753);">ABOUT ME</a>
                                      </li>
                                      <li class="nav-item">
                                           <a class="nav-link " href="#"  id="projectsNav" style="color: rgba(255, 255, 255, 0.753);">PROJECTS</a>
                                      </li>
                                    
                                      
                                      <li class="nav-item">
                                           <a class="nav-link " href="#" id="contactNav" style="color: rgba(255, 255, 255, 0.753);">CONTACT</a>
                                      </li>
                                </ul>

                             </div>

                           </div>
                  </nav>
                        
                        
                        
                    
                  <div class="row my-profile-row align-items-center pt-5">

                                      <div class="col-sm-4 col-md-4 pt-5 " >
                                          <img src="/profile-pic (4).png" alt="" class="profile" style="height: 60vh; width:60vh">
                                      </div>  
                                      
                                      <div class="col-sm-4 col-md-4 pt-5">

                                        <div class="card" style="width: 35rem; background-color: Transparent;">
                                        
                                          <div class="card-body text-center pt-5">
                                            <h5 class="card-title"></h5>
                                            <p class="card-text" style="font-size: 25px; font-weight: bold; font-family: 'Times New Roman', Times, serif;">
                                              Hi, I am LIONEL MUNDYO KASONGI.<br>
                                              A passionate  Full Stack developer based in Illinois, USA <img src="/icons8-location-pin-48.png" alt="">
                                            </p>
                                            <div class="row" >
                                              <div class="col-sm-4 col-md-4 offset-2 img-container">
                                                  <a href="https://github.com/Mundyo" >
                                                    <img src="/icons8-github-94.png" alt="" class="small-icon" >
                                                  </a> 
                                              </div>
                                              <div class="col-sm-4 col-md-4 " >
                                                <a href="https://www.linkedin.com/in/lionel-mundyo-kasongi-1a1436234"><img src="/icons8-linkedin-94.png" alt="" class="small-icon"></i></a> 
                                              </div>
                                              <div class="col-sm-2 col-md-2 offset-2 " >
                                              </div>
                                              
                                           
                                          
                                              

                                            </div>
                                            
                                          </div>
                                        </div>
                                      
                                      <div class="col-md-2 col-sm-2 offselt-2"></div>

                                  </div>

                                  <div class="row " style="color:aliceblue">
                                    <div class="col-md-12 col-sm-12"> <hr> </div>
                                  </div>

                                  <div class="row front pt-5 text-center" >

                                          <div class="col-md-2 col-sm-4"><img src="/icons8-html-144.png" alt="">HTML</div> 
                                          <div class="col-md-2 col-sm-4"><img src="/icons8-css-144.png" alt="">CSS</div> 
                                          <div class="col-md-2 col-sm-4"><img src="/icons8-javascript-128.png" alt="">JAVASCRIPT</div>  
                                          <div class="col-md-2 col-sm-4"><img src="/icons8-bootstrap-128.png" alt="">BOOTSTRAP</div> 
                                          <div class="col-md-2 col-sm-4"><img src="/icons8-jquery-150.png" alt="">JQUERY</div> 
                                          <div class="col-md-2 col-sm-4"><img src="/icons8-react-160.png" alt="">REACT</div> 
                                  </div>

                                  <!-- horizontal line -->
                                <div class="row " style="color:aliceblue">
                                  <div class="yup col-md-12 col-sm-12"> <hr> </div>
                                </div>


                                <div class="row back-end text-center">

                                  <div class="col-md-2 col-sm-4" ><img src="/icons8-nodejs-144.png" alt="">NODEJS</div> 
                                  <div class="col-md-2 col-sm-4" ><img src="/icons8-npm-144.png" alt="">NPM</div> 
                                  <div class="col-md-2 col-sm-4" ><img src="/icons8-express-js-128.png" alt="">EXPRESSJS</div> 
                                  <div class="col-md-2 col-sm-4" ><img src="/icons8-java-144.png" alt="">JAVA</div> 
                                  <div class="col-md-2 col-sm-4" ><img src="/icons8-mysql-144.png" alt="">MYSQL</div> 
                                  <div class="col-md-2 col-sm-4" ><img src="/icons8-mongodb-a-cross-platform-document-oriented-database-program-96.png" alt="">MONGODB</div> 
                                </div>


                                <!-- horizontal line -->
                                <div class="row " style="color:aliceblue">
                                  <div class="col-md-12 col-sm-12"> <hr> </div>
                                </div>

                                <div id="AboutMe" class="row pt-5  "s style="font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;"><h1>ABOUT ME</h1></div>
                                     <!--underline  -->
                                <div class="div">
                                            <div class="col-md-2 pb-5"><hr></div>
                                      </div>
                                <div class="row pb-5 about-me-section">


                                      <!-- about me -->
                               <div class="col-md-6 col-sm-6 text-center about-me-text " >
                                      <div  class="card about-mee"  style="width: 34rem;background-color: transparent; ">
                                        <img src="/office.jpg" class="card-img-top" alt="..." style="background-color: transparent; height: 32rem; border-radius: 5px;">
                                      </div>
                                    </div>

                                    <div class="col-md-6 col-sm-6 text-center" >
                                      <div class="card about-me-card" style="width: 35rem; background-color: transparent; font-family: 'Times New Roman', Times, serif; font-size: 20px; color: white;"> 
                                        <h3>I am a dedicated Full Stack developer based in Illinois, US</h3>
                                        <p style="font-family: 20px;">
                                          As a versatile full-stack developer, I bring a comprehensive skill set to the world of web development.
                                           My journey begins with a strong foundation in HTML, CSS, and JavaScript, allowing me to craft elegant
                                            and responsive user interfaces. Leveraging the power of Node.js and Bootstrap, I breathe life into 
                                            these interfaces, creating dynamic and user-friendly web applications. On the server side, 
                                            my proficiency in Java, along with my expertise in database management using MySQL and MongoDB, 
                                            enables me to architect robust back-end systems. With a meticulous eye for detail and a commitment to
                                             delivering top-notch solutions, I thrive on transforming ideas into functional, efficient, 
                                             and aesthetically pleasing web applications. My passion for technology and dedication to staying 
                                             updated with the latest trends in web development drive me to continuously push the boundaries of what's
                                              possible in the digital world.
                                        </p>
                                      </div>
                                    </div>

                               </div>

                                 <!-- double horizontal line -->
                                <div class="row pt-3 pb-5" style="color:aliceblue">
                                       <div class="col-md-12 col-sm-12"> <hr> </div>
                                </div>
                                <div class="row  pt-3 pb-5" style="color:aliceblue">
                                       <div class="col-md-12 col-sm-12"> <hr> </div>
                                </div>



                                  <div id="projects" class="row pt-5 "   style="font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;"><h1>PROJECTS</h1></div>
                                 <!-- underline -->
                                  <div class="div">
                                    <div class="col-md-2"><hr></div>
                                  </div>
                                  



                                
                                      <!-- projects -->
                                  <div  class="row pb-5">
                                           <!-- Mundyo MasterCraft project -->
                                          <div class="col-md-6  text-center pb-3 " >
                                                      <div class="card myprojects" style="width: 35rem; background-color: transparent; font-family: 'Times New Roman', Times, serif; font-size: 18px; color: white;"> 
                                                        <h3>MundyoMastercraftServices</h3>
                                                        <p style="font-family:'Times New Roman', Times, serif;">
                                                          MUNDYO MASTER SERVICES is a state-of-the-art technical platform that 
                                                          enhances the convenience and efficiency of the home services industry by providing 
                                                          automated invoicing for every service request. Our comprehensive 
                                                          range of offerings spans plumbing, HVAC (Heating, Ventilation, and Air Conditioning),
                                                          and electrical solutions. What sets us apart is our seamless integration of
                                                            technology into service delivery. With the click of a button, clients can 
                                                            effortlessly request and schedule services, while our robust backend, powered by Node.js,
                                                            Express.js, and MongoDB, efficiently manages and tracks all service requests. Moreover,
                                                              our innovative system automates the invoicing process, ensuring that clients receive 
                                                              accurate and timely billing. Our website, meticulously designed using Bootstrap and 
                                                              JavaScript, not only offers a user-friendly experience but also reflects our commitment 
                                                              to professionalism and reliability in the home services industry. At MUNDYO MASTER SERVICES, 
                                                          we are not just about fixing problems; we are about simplifying lives.
                                                        </p>

                                                                            <div class="mundyo-image row" >
                                                                              <div class="col" style="border-radius: 50px; " >
                                                                             
                                                                                    <a href="https://github.com/Mundyo/Mundyoservices"> <img src="/icons8-github-48.png" alt=""></a>
                                                                                    <a href="https://mundyomastercraftservices-9e3fd9479865.herokuapp.com/" ><button style="background-color: rgb(73, 192, 192);border-radius: 50px;">Click me!</button></a>
                                                                              </div>   
                                                                            </div>
                                                      </div>        
                                          </div>              
                                                     
                                           <!-- Mundyo MasterCraft image -->
                                          <div class="col-md-4 pb-5 col-sm-6  offset-1 text-center " >
                                               <div class="car" style="background-color: transparent; border: none;" >
                                                  <a href="https://mundyomastercraftservices-9e3fd9479865.herokuapp.com/"><img src="/pic4.jpg" class="card-img-top" alt="..." style="background-color: transparent; height: 25rem; width: auto; max-width: auto; border-radius: 70px "></a>
                                                  <p style="font-weight: bolder;"> HTML, BOOTSTRAP,CSS, JAVASCRIPT, NODEJS <br> EXPRESSJS, MONGODB</p>
                                               </div>
                                          </div>
                                         
                                         
                                          
                                        



  
                                      

                                        <!-- lowellsport description -->
                                    <div class="col-md-5 col-sm-5  text-center pb-3 " >
                                      <div class="card myprojects" style="width: 35rem; background-color: transparent; font-family: 'Times New Roman', Times, serif; font-size: 20px; color: white;"> 
                                        <h3>LowellSport</h3>
                                              <p style="font-family: 20px;">
                                                •	Location-Based Sport Discovery: Utilizing cutting-edge technologies, LowellSport enables users to explore different 
                                                sport areas, parks, and professional venues in Lowell. Users can easily find suitable locations for their favorite sports,
                                                including soccer, basketball, tennis, golf, football, volleyball, and baseball.
                                                •	Full-Stack Development: LowellSport showcases my proficiency in full-stack development, 
                                                incorporating a diverse range of technologies. The application utilizes HTML, CSS, and JavaScript for the front-end,
                                                ensuring a responsive and visually appealing user interface. The back-end is built on Node.js and Express.js,
                                                  enabling efficient data retrieval and manipulation. The integration with a MongoDB database ensures seamless data 
                                                  storage and retrieval, guaranteeing a smooth user experience.
                                                  
                                              </p>
                                              
                                                            <div class="row" >
                                                              <div class="col"style="border-radius: 50px;" >
                                                              
                                                                    <a href="https://github.com/Mundyo/LowellSport"> <img src="/icons8-github-48.png" alt=""></a>
                                                                    <a href="https://lowellsport.herokuapp.com/" ><button style="background-color: rgb(73, 192, 192);border-radius: 50px;">Click me!</button></a>
                                                              </div>   
                                                            </div>
                                      </div> 
                                         
                                      </div>
                                                                       <!-- lowellSport image -->
                                                                       <div class="col-md-4 pb-3   col-sm-4 offset-2 text-center " >
                                                                        <div class="card lowell" style="width: 30rem;background-color: transparent; border: none; ">
                                                                                <a href="https://lowellsport.herokuapp.com/">
                                                                                  <img src="/Screenshot 2023-10-10 122624.png" class="card-img-top1" alt="..." style="background-color: transparent; height: 25rem; width: auto; max-width: 100%; border-radius: 70px ; border: none;">
                                                                                </a>
                                                                                <p style="font-weight: bolder;"> HTML, CSS, JAVASCRIPT, NODEJS <br> EXPRESSJS, MONGODB</p>
                                                                        </div>
                                                                      </div>

                                  
                                        <!-- petdundee description -->
                                    <div class="col-md-6 col-sm-6 text-center pt-5 pb-3 "  >
                                            <div class="card myprojects" style="width: 35rem; background-color: transparent; font-family: 'Times New Roman', Times, serif; font-size: 20px; color: white;"> 
                                              <h3>PetDundee</h3>
                                              <p style="font-family: 20px;">
                                               PedDundee is a back-end project for a Pet Store with Spring Boot that handles all CRUD 
                                               (Create, Read, Update, Delete) operations  great way to showcase my skills as a developer.
                                                In this project i have outlined the entities and tables
                                                **Customers**
                                                  - CRUD Operations: Register users, Fetch user data, Modify profiles
                                                
                                                2. **Products**
                                                  - CRUD Operations: Add new items, Retrieve product specifics, Update inventory/prices, Erase products
                                                
                                                3. **Orders**
                                                  - CRUD Operations: Place orders, Access order history, Update order statuses, Cancel orders
                                                
                                                4. **Reviews**
                                                  - CRUD Operations: Submit reviews, View reviews, Edit reviews, Remove reviews
                                              </p>
                                            
                                                              <div class="row" >
                                                                <div class="col"style="border-radius: 50px;" >
                                                                
                                                                      <a href="https://github.com/Mundyo/PetDundee"> <img src="/icons8-github-48.png" alt=""></a>
                                                                      <a href="https://github.com/Mundyo/PetDundee" ><button style="background-color: rgb(73, 192, 192);border-radius: 50px;">Click me!</button></a>
                                                                </div>   
                                                              </div>
                                            </div>
                                    </div>

                                    <!-- petstore image -->
                                   <div class="col-md-4 pb-5  col-sm-4   offset-1  text-center  text-center" >
                                            <div class="card1 text-center" style="width: 30rem;background-color: transparent;border: none; ">
                                              <img src="/petpicture.jpg" class="card-img-top" alt="..." style="background-color: transparent; height: 25rem; width: auto; max-width: 300%; border-radius: 70px ; border: none;">
                                              <p style="font-weight: bolder;"> JAVA, SPRINGBOOT, MYSQL</p>
                                            </div>
                                           
                                   </div>

                                
                                   
                                  
                                     <!-- seachelle description -->
                                    <div class="col-md-6 pt-5 col-sm-6  text-center pb-3"  >
                                            <div class="card myprojects" style="width: 35rem; background-color: transparent; font-family: 'Times New Roman', Times, serif; font-size: 20px; color: white;"> 
                                              <h3>Seachelle</h3>
                                              <p style="font-family: 20px;">
                                                **Database Design Mastery:** Seachelle's robust functionality rests on a meticulously crafted database design,
                                                 ensuring data efficiency and streamlined management. 
                                                 the project contains all 4 CRUD operations and relationship

                                              
                                                 **Many-to-Many Marvel with CRUD:**
                                                Seachelle also employs a many-to-many relationship between Customers and Products, 
                                                powering wishlists. Customers can curate a wishlist with multiple products, while 
                                                products can be saved by various customers. This interactive dynamic enriches the user journey.
                                                
                                               
                                              </p>
                                                    <div class="row" >
                                                      <div class="col"style="border-radius: 50px;" >
                                                      
                                                            <a href="https://github.com/Mundyo/Seachelle"> <img src="/icons8-github-48.png" alt=""></a>
                                                            <a href="https://github.com/Mundyo/Seachelle" ><button style="background-color: rgb(73, 192, 192);border-radius: 50px;">Click me!</button></a>
                                                      </div>   
                                                    </div>
                                            </div>
                                   </div>
                                     <!-- seachelle image-->
                                     <div class="col-md-5 col-sm-5 offset-1 text-center pb-5  " >
                                      <div class="card1" style="width: 30rem;background-color: transparent;border: none; ">
                                        <img src="/swimsuityellow.jpg" class="card-img-top" alt="..." style="background-color: transparent; height: 25rem; width: auto; max-width: 100%; border-radius: 70px ; border: none;">
                                        <p style="font-weight: bolder;"> JAVA, SPRINGBOOT, MYSQL</p>
                                      </div>
                                     
                                    </div>
                                </div>


                                  <!-- double horizontal line -->
                             <div class="row pt-3 pb-5" style="color:aliceblue">
                              <div class="col-md-12 col-sm-12"> <hr> </div>
                       </div>
                       <div class="row  pt-3 pb-5" style="color:aliceblue">
                              <div class="col-md-12 col-sm-12"> <hr> </div>
                       </div>

                             <!-- contact me -->
                       <div id="contacts" class="row pt-5  "s style="font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">
                        <h1>CONTACT ME</h1>
                       </div>
                                     <!--underline  -->
                                <div class="div">
                                            <div class="col-md-2 pb-5"><hr></div>
                                      </div>
                                <div class="row pb-5">
                                
                        <div class="row contact" data-tilt>
                           
                                  
                                  <div class="col-sm-12 col-md-12 " style="font-size: 30px;">
                                    <div class="row pb-3">NAME: LIONEL MUNDYO KASONGI</div>
                                    <div class="row pb-3">EMAIL:MUNDYO.LIONEL@YAHOO.COM</div>
                                    <div class="row pb-3" >LINKEDIN: <a href="https://www.linkedin.com/in/lionel-mundyo-kasongi-1a1436234/" style="color: aliceblue;text-decoration: none;">https://www.linkedin.com/in/lionel-mundyo-kasongi-1a1436234/</a></div>
                                    <div class="row pb-3">GITHUB: <a href="https://github.com/Mundyo" style="color: aliceblue;text-decoration: none;">https://github.com/Mundyo</div></a>
                                  </div>
                                 


                        </div>
                           







                        
                  </div>
                      
                           
                             
                      
          
      
    
    
    
    
    
    
    
    
    
    </div>
        







    



    <script>
      document.addEventListener('DOMContentLoaded', function () {
          ScrollToAboutMe();

          function ScrollToAboutMe() {
              const aboutMeNav = document.getElementById('aboutMeNav');
              const aboutMeSection = document.getElementById('AboutMe');

              if (aboutMeNav && aboutMeSection) {
                  aboutMeNav.addEventListener('click', function (event) {
                      event.preventDefault();
                      aboutMeSection.scrollIntoView({ behavior: 'smooth' });
                  });
              }
          }
      });

      document.addEventListener('DOMContentLoaded', function(){
          ScrollToMyProjects();

          function ScrollToMyProjects(){
            const projectsNav = document.getElementById('projectsNav');
            const projectSection = document.getElementById('projects');

            if(projectsNav && projectSection){
              projectsNav.addEventListener('click', function(event){
                   event.preventDefault();
                   projectSection.scrollIntoView({behavior:'smooth'});
              })
            }
          }
      });

      document.addEventListener('DOMContentLoaded', function(){
            ScrollToContact();

            function ScrollToContact(){
               const contactNav = document.getElementById('contactNav');
               const contactSection = document.getElementById('contacts');

               if(contactNav && contactSection){
                contactNav.addEventListener('click', function(event){
                   contactSection.scrollIntoView({behavior:'smooth'});
                })
               }
            }
      })
  </script>


     

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" 
    crossorigin="anonymous"></script>
</body>
</html>