projects
<div  class="row pb-5">
         <!-- Mundyo MasterCraft project -->
        <div class="col-md-6  text-center pb-3 " >
                    <div class="card myprojects" style="width: 35rem; background-color: transparent; font-family: 'Times New Roman', Times, serif; font-size: 18px; color: white;"> 
                      <h3>MundyoMastercraftServices</h3>
                      <p style="font-family:'Times New Roman', Times, serif;">
                        MUNDYO MASTER SERVICES is a state-of-the-art technical platform that 
                        enhances the convenience and efficiency of the home services industry by providing 
                        automated invoicing for every service request. Our comprehensive 
                        range of offerings spans plumbing, HVAC (Heating, Ventilation, and Air Conditioning),
                        and electrical solutions. What sets us apart is our seamless integration of
                          technology into service delivery. With the click of a button, clients can 
                          effortlessly request and schedule services, while our robust backend, powered by Node.js,
                          Express.js, and MongoDB, efficiently manages and tracks all service requests. Moreover,
                            our innovative system automates the invoicing process, ensuring that clients receive 
                            accurate and timely billing. Our website, meticulously designed using Bootstrap and 
                            JavaScript, not only offers a user-friendly experience but also reflects our commitment 
                            to professionalism and reliability in the home services industry. At MUNDYO MASTER SERVICES, 
                        we are not just about fixing problems; we are about simplifying lives.
                      </p>

                                          <div class="mundyo-image row" >
                                            <div class="col" style="border-radius: 50px; " >
                                           
                                                  <a href="https://github.com/Mundyo/Mundyoservices"> <img src="/icons8-github-48.png" alt=""></a>
                                                  <a href="https://mundyomastercraftservices-9e3fd9479865.herokuapp.com/" ><button style="background-color: rgb(73, 192, 192);border-radius: 50px;">Click me!</button></a>
                                            </div>   
                                          </div>
                    </div>        
        </div>              
                   
         <!-- Mundyo MasterCraft image -->
        <div class="col-md-4 pb-5 col-sm-6  offset-1 text-center " >
             <div class="car" style="background-color: transparent; border: none;" >
                <a href="https://mundyomastercraftservices-9e3fd9479865.herokuapp.com/"><img src="/pic4.jpg" class="card-img-top" alt="..." style="background-color: transparent; height: 25rem; width: auto; max-width: auto; border-radius: 70px "></a>
                <p style="font-weight: bolder;"> HTML, BOOTSTRAP,CSS, JAVASCRIPT, NODEJS <br> EXPRESSJS, MONGODB</p>
             </div>
        </div>
       
       
        
      




    

      <!-- lowellsport description -->
  <div class="col-md-5 col-sm-5  text-center pb-3 " >
    <div class="card myprojects" style="width: 35rem; background-color: transparent; font-family: 'Times New Roman', Times, serif; font-size: 20px; color: white;"> 
      <h3>LowellSport</h3>
            <p style="font-family: 20px;">
              •	Location-Based Sport Discovery: Utilizing cutting-edge technologies, LowellSport enables users to explore different 
              sport areas, parks, and professional venues in Lowell. Users can easily find suitable locations for their favorite sports,
              including soccer, basketball, tennis, golf, football, volleyball, and baseball.
              •	Full-Stack Development: LowellSport showcases my proficiency in full-stack development, 
              incorporating a diverse range of technologies. The application utilizes HTML, CSS, and JavaScript for the front-end,
              ensuring a responsive and visually appealing user interface. The back-end is built on Node.js and Express.js,
                enabling efficient data retrieval and manipulation. The integration with a MongoDB database ensures seamless data 
                storage and retrieval, guaranteeing a smooth user experience.
                
            </p>
            
                          <div class="row" >
                            <div class="col"style="border-radius: 50px;" >
                            
                                  <a href="https://github.com/Mundyo/LowellSport"> <img src="/icons8-github-48.png" alt=""></a>
                                  <a href="https://lowellsport.herokuapp.com/" ><button style="background-color: rgb(73, 192, 192);border-radius: 50px;">Click me!</button></a>
                            </div>   
                          </div>
    </div> 
       
    </div>
                                     <!-- lowellSport image -->
                                     <div class="col-md-4 pb-3   col-sm-4 offset-2 text-center " >
                                      <div class="card lowell" style="width: 30rem;background-color: transparent; border: none; ">
                                              <a href="https://lowellsport.herokuapp.com/">
                                                <img src="/Screenshot 2023-10-10 122624.png" class="card-img-top1" alt="..." style="background-color: transparent; height: 25rem; width: auto; max-width: 100%; border-radius: 70px ; border: none;">
                                              </a>
                                              <p style="font-weight: bolder;"> HTML, CSS, JAVASCRIPT, NODEJS <br> EXPRESSJS, MONGODB</p>
                                      </div>
                                    </div>


      <!-- petdundee description -->
  <div class="col-md-6 col-sm-6 text-center pt-5 pb-3 "  >
          <div class="card myprojects" style="width: 35rem; background-color: transparent; font-family: 'Times New Roman', Times, serif; font-size: 20px; color: white;"> 
            <h3>PetDundee</h3>
            <p style="font-family: 20px;">
             PedDundee is a back-end project for a Pet Store with Spring Boot that handles all CRUD 
             (Create, Read, Update, Delete) operations  great way to showcase my skills as a developer.
              In this project i have outlined the entities and tables
              **Customers**
                - CRUD Operations: Register users, Fetch user data, Modify profiles
              
              2. **Products**
                - CRUD Operations: Add new items, Retrieve product specifics, Update inventory/prices, Erase products
              
              3. **Orders**
                - CRUD Operations: Place orders, Access order history, Update order statuses, Cancel orders
              
              4. **Reviews**
                - CRUD Operations: Submit reviews, View reviews, Edit reviews, Remove reviews
            </p>
          
                            <div class="row" >
                              <div class="col"style="border-radius: 50px;" >
                              
                                    <a href="https://github.com/Mundyo/PetDundee"> <img src="/icons8-github-48.png" alt=""></a>
                                    <a href="https://github.com/Mundyo/PetDundee" ><button style="background-color: rgb(73, 192, 192);border-radius: 50px;">Click me!</button></a>
                              </div>   
                            </div>
          </div>
  </div>

  <!-- petstore image -->
 <div class="col-md-4 pb-5  col-sm-4   offset-1  text-center  text-center" >
          <div class="card1 text-center" style="width: 30rem;background-color: transparent;border: none; ">
            <img src="/petpicture.jpg" class="card-img-top" alt="..." style="background-color: transparent; height: 25rem; width: auto; max-width: 300%; border-radius: 70px ; border: none;">
            <p style="font-weight: bolder;"> JAVA, SPRINGBOOT, MYSQL</p>
          </div>
         
 </div>


 

   <!-- seachelle description -->
  <div class="col-md-6 pt-5 col-sm-6  text-center pb-3"  >
          <div class="card myprojects" style="width: 35rem; background-color: transparent; font-family: 'Times New Roman', Times, serif; font-size: 20px; color: white;"> 
            <h3>Seachelle</h3>
            <p style="font-family: 20px;">
              **Database Design Mastery:** Seachelle's robust functionality rests on a meticulously crafted database design,
               ensuring data efficiency and streamlined management. 
               the project contains all 4 CRUD operations and relationship

            
               **Many-to-Many Marvel with CRUD:**
              Seachelle also employs a many-to-many relationship between Customers and Products, 
              powering wishlists. Customers can curate a wishlist with multiple products, while 
              products can be saved by various customers. This interactive dynamic enriches the user journey.
              
             
            </p>
                  <div class="row" >
                    <div class="col"style="border-radius: 50px;" >
                    
                          <a href="https://github.com/Mundyo/Seachelle"> <img src="/icons8-github-48.png" alt=""></a>
                          <a href="https://github.com/Mundyo/Seachelle" ><button style="background-color: rgb(73, 192, 192);border-radius: 50px;">Click me!</button></a>
                    </div>   
                  </div>
          </div>
 </div>
   <!-- seachelle image-->
   <div class="col-md-5 col-sm-5 offset-1 text-center pb-5  " >
    <div class="card1" style="width: 30rem;background-color: transparent;border: none; ">
      <img src="/swimsuityellow.jpg" class="card-img-top" alt="..." style="background-color: transparent; height: 25rem; width: auto; max-width: 100%; border-radius: 70px ; border: none;">
      <p style="font-weight: bolder;"> JAVA, SPRINGBOOT, MYSQL</p>
    </div>
   
  </div>
</div>
